:host {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.page-header {
  font-size: 30px;
  width: 100%;
  text-align: center;
  padding: 40px 0;
}

.page-container {
  height: 100%;
  padding: 40px;
  border: 1px dashed black;
  position: relative;
}
